body {
  background: rgb(43, 43, 43) !important;
  margin: 0%;
  padding: 0%;
  color: black;
}

.divider {
  background-color: rgb(185, 137, 14) !important;
  margin-top: 10%;
}

.boxright {
  background-color: goldenrod;
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 8px black;
}

.location-icon {
  padding: 10px;
  justify-self: center;
  color: goldenrod;
  width: "300px" !important;
}

.social-icon {
  padding: 20px;
  display: flex;
  justify-self: center;
  width: 100% auto;
}

.left1 {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 2px 2px 6px black;
  /* margin-top: -80%; */
  background-color: snow !important;
  display: grid;
  flex-direction: column;
}
.left2 {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 2px 2px 6px black;
  /* margin-top: -80%; */
  background-color: snow !important;
  display: grid;
  flex-direction: column;
}
.left3 {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 2px 2px 6px black;
  background-color: snow !important;

  flex-direction: column;
}
.left4 {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 2px 2px 6px black;
  background-color: snow !important;
  display: grid;
  flex-direction: column;
}

.boxtitle {
  padding: 20px;
  text-shadow: 2px 1px 2px rgb(48, 47, 47);
}

.text1 {
  width: 500px;
  height: 50px !important;
  padding: 10px;
  margin: 20px !important;
}

.text2 {
  width: 500px;
  height: 50px !important;
  padding: 10px;
  margin: 20px !important;
}

.textarea {
  width: 480px;
  height: 50px !important;
  padding: 10px;
  margin: 20px !important;
}

.btn {
  width: 100px !important ;
  text-align: center;
  align-items: center;
  justify-self: center;
  padding: 10px;
  background-color: rgb(43, 43, 43) !important;
  margin: 20px !important;
}

.phone {
  text-decoration-line: none !important;
  color: black;
}
