.home-css {
  color: darkred;
  font-size: 20px;
  text-shadow: 1px 1px black;
  flex-grow: 0;
  order: 1;
  padding: 10px;
  text-decoration: none;
}

.home-css:active,
.about-css:active,
.contact-css:active,
.service-css:active {
  border-radius: 10%;
  background-color: rgb(245, 206, 31);
  /* background-color: rgba(245, 206, 31, 0); */
  transform: scale(2, 2);
}

.about-css {
  color: darkred;
  font-size: 20px;
  text-shadow: 1px 1px black;
  flex-grow: 0;
  order: 1;
  padding: 10px;
  text-decoration: none;
}
.service-css {
  color: darkred;
  font-size: 20px;
  text-shadow: 1px 1px black;
  flex-grow: 0;
  order: 1;
  padding: 10px;
  text-decoration: none;
}
.contact-css {
  color: darkred;
  font-size: 20px;
  text-shadow: 1px 1px black;
  flex-grow: 0;
  order: 1;
  padding: 10px;
  text-decoration: none;
  margin-right: 40px;
}
